body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: linear-gradient(rgba(0, 84, 180, 0.8), rgba(0, 45, 97, 0.9)), 
                url('../img/fondo.webp');
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #0054B4;
    color: #FFD700; 
    padding: 30px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    border-bottom: 8px solid #FFD700;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    margin-bottom: 30px;
}

section {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto 40px auto;
    display: grid;
    grid-template-columns: 35% 60%;
    gap: 40px; 
    padding: 20px;
}


article {
    background: rgba(255, 255, 255, 0.95);
    padding: 25px; 
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    border: 2px solid #0054B4;
}

h3, h2 {
    color: #0054B4;
    margin-bottom: 15px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: block;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    margin-bottom: 8px;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    color: #0054B4;
    font-weight: bold;
    transition: 0.3s;
    border-left: 5px solid #FFD700;
}

li:hover {
    transform: translateX(10px);
    background-color: #FFD700;
    color: #000;
}

button {
    background-color: #E91E63; 
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #C2185B;
}